<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="WKVSTS" value="https://wkaxcess.pkgs.visualstudio.com/_packaging/Axcess/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <WKVSTS>
      <add key="Username" value="jason.pagel@wolterskluwer.com" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAOv0DontyrEmKof1afvUm2wAAAAACAAAAAAADZgAAwAAAABAAAAAnjXA+gbtmcuoKnteW/2ghAAAAAASAAACgAAAAEAAAALNAD1GylCa9IEm+kai4v6E4AAAAFa8N01vf8jdMk+42t2g9LeWW5HH7ObTxLh0qW9THv7gh4gWiQEXjbK+NLrH/nn7apTUexRcOkGwUAAAA9Mfd/d3k7GN4793YMIO5MSkEfnA=" />
    </WKVSTS>
  </packageSourceCredentials>
</configuration>