<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WK.Axcess.ConsumerLayer.Analytics" version="1.0.2.0" targetFramework="net452" />
  <package id="WK.Axcess.ConsumerLayer.TollBridge" version="1.0.1.2" targetFramework="net452" />
  <package id="WK.Axcess.ConsumerLayer.Notifications" version="1.0.1.3" targetFramework="net452" />
  <package id="WK.Axcess.ConsumerLayer.AxcessHttp" version="1.0.4.1-alpha" targetFramework="net452" />
  <package id="WK.Axcess.ConsumerLayer.PercentFilter" version="1.0.1.1" targetFramework="net452" />
  <package id="WK.Axcess.ConsumerLayer.MessageBox" version="1.0.2.2" targetFramework="net452" />
</packages>
