<!DOCTYPE html>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-8">
                <nav class="navbar navbar-default navbar-grid">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#authors-grid-toolbar" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="authors-grid-toolbar">
                            <form class="navbar-form navbar-left">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.addAuthor()" track-click="Add Author">Add</button>
                                    <button type="button" class="btn btn-default" ng-click="ctrl.updateAuthor()" track-click="Update author">Update</button>
                                    <button type="button" class="btn btn-default" ng-if="ctrl.featureFlag" ng-click="ctrl.deleteAuthor()" track-click="Delete Author">Delete</button>
                                </div>
                            </form>
                            <form class="navbar-form navbar-search navbar-right" check-feature-firm="search" ng-submit="ctrl.searchAuthor()">

                                <div class="input-group input-group-sm">
                                    <input name="txtSearch" class="form-control" type="text" ng-model="ctrl.search" placeholder="Search for..." track-value-changed="Search changed"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit" track-click="Search Author">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-default" type="button" ng-click="ctrl.clearSearch()" track-click="Clear author search">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
                <div ui-grid="ctrl.gridOptions" ui-grid-selection></div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="panel col-md-12">
                <author-view ng-if="ctrl.selectedRow.entity" author="ctrl.selectedRow.entity"></author-view>
            </div>
        </div>
    </div>
    


    <!-- 
    <label>Enter percent: 
        <input type="number" ng-model="ctrl.percentage" track-value-changed="Percentage changed"/>
        <label>Percentage: {{ctrl.percentage | percent:4}}</label>
    </label>
    <button type="button" ng-click="ctrl.showMessage()" track-click="Show Message">Message</button> -->