<!DOCTYPE html>
<form class="main-page" ng-submit="ctrl.searchBooks()">
	<div class="container page-search">
		<div class="row">
			<div class="input-group input-group-md">
				<input class="form-control" type="text" ng-model="ctrl.search" placeholder="Search for..." track-value-changed="Search changed"/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" track-click="Search books">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default" type="button" ng-click="ctrl.clearSearch()" track-click="Clear books search">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
</form>
<div class="container item-list" ng-repeat="book in ctrl.books">
	<book-view book="book"></book-view>
</div>
