<!DOCTYPE html>
<div ng-controller="LoginController as ctrl">
    <form class="form-horizontal" role="login" ng-submit="ctrl.login()">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <img src="images/login.png" class="img-responsive"/>
                    <input class="form-control input-lg" placeholder="User Name" type="text" ng-model="ctrl.user.name" />
                    <input class="form-control input-lg" placeholder="Password" type="password" ng-model="ctrl.user.password"/>
                    <button class="btn btn-lg btn-block btn-primary" type="submit" track-click="Login Clicked">Login</button>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" ng-click="ctrl.cancel()" track-click="Cancel Clicked">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
